<meta charset="UTF-8">

<ul class="hot">
    <li class="hot-list">
        <a href="/home/" class="tubiao">&#xe602;</a>
        <a href="/home/">今日有料</a>
    </li>
    <li class="hot-list">
        <a href="/list-video/" class="tubiao">&#xe601;</a>
        <a href="/list-video/">凑热闹</a>
    </li>
    <li class="hot-list">
        <a href="/pe/" class="tubiao">&#xe691;</a>
        <a href="/pe/">体育</a>
    </li>
    <li class="hot-list">
        <a href="/about-me/" class="tubiao">&#xe612;</a>
        <a href="/about-me/">我</a>
    </li>
</ul>