<style>

    .login-reg{
        position:absolute;
        top:0px;
        right:3px;
        z-index:1222;
        height:42px;
        width:40%;
        text-align:center;
        line-height:42px;
    }
    .login-reg>div{
        float:right;
        /*width:40px;*/
        height:30px;
        margin-right:10px;
    }
    .login-reg>div>a{
        float:left;
       color:#ccc;
       font-size:15px;
    }
</style>

<div class="login-reg">
<%if(!login){%>
    <div><a href="/user/login">登录</a></div>
    <div><a href="/user/login">注册</a></div>
<%}else{%>
    <div><a href="/user/logout">退出登录</a></div>
    <div><a href="javascript:;">欢迎<%=username%></a></div>
    <%}%>
</div>